<!-- PLEASE PUSH BACK TO GITHUB AFTER CODE-->
<!-- do that by finding the tabs (near console/shell or near webview and press git)-->
<!-- To Do List-->
<!-- - The database-->
<!-- - importing information to database-->
<!-- - Styling-->
<!--     (optional after everything((polishing)) )-->
<!--     - add option to add photos to importing new items-->
<!--     - add a additional catalogue link with the catagories that lead to the names of the items (clicking name leads to jumping to the place on the main page where the item is) -->
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Lost & Found Page </title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>
<!---->
  
<body>
  <div>
    <!-- this loads the items.html -->
    {% for item in items %}
      {% include 'items.html' %}
    {% endfor %}
  </div>
  {% include 'newitem_lostandfound.html' %} <!-- this puts the html for the query of new item-->
<html>
<!DOCTYPE html>