<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Lost & Found Page </title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div>
    
    {% for item in items %}
      {% if '1' in item['type'] %}
    
        <div>Type: Clothing</div>

    
        {% if '1' in item['id'] %}
          <div>ID: Jackets<div>
        {% endif %}
            
        {% if '2' in item['id'] %}
          <div>ID: Ties/Accessories<div>
        {% endif %}
            
        {% if '3' in item['id'] %}
          <div>ID: PE related clothing/gear<div>
        {% endif %}
            
        {% if '4' in item['id'] %}
          <div>ID: Blazers<div>
        {% endif %}
      {% endif %}
            
      {% if'2' in item['type']%}
            <div>Type: Item</div>
            {% if '1' in item['id']%}
            <div>ID: Water Bottles</div>
            {% endif %}
            {% if '2' in item['id']%}
            <div>ID: Books</div>
            {% endif %}
            {% if '3' in item['id']%}
            <div>ID: Stationary</div>
            {% endif %}
            {% if '4' in item['id']%}
            <div>ID: Electronics</div>
            {% endif %}
            {% if '5' in item['id']%}
            <div>ID: Lunchboxes</div>
            {% endif %}
      {% endif %}
            
      {% if not item['is_ItemNamed'] == False %}
        <div>Name on item: {{item['nameOnItem']}}</div>
      {% endif %}
    <div> </div>
    {% endfor %}
<html>
<!DOCTYPE html>