<div class="border-bottom" style="margin-bottom:16px;padding-bottom:8px;">
  {% if item['isitemclaimed'] == '0' %}<!-- this loads only items that arent reserved -->
    <h2>{{item.itemname}}</h2>
    {% if '1' in item['catagory'] %}<!-- all below this narrows down and translate the data id into str text because storing as numbers are easier to see for me during development -->
  
      <div>Type: Clothing</div>

    
      {% if '1' in item['itemtype'] %}
        <div>ID: Jackets<div>
      {% endif %}
            
      {% if '2' in item['itemtype'] %}
        <div>ID: Ties/Accessories<div>
      {% endif %}
            
      {% if '3' in item['itemtype'] %}
        <div>ID: PE related clothing/gear<div>
      {% endif %}
            
      {% if '4' in item['itemtype'] %}
        <div>ID: Blazers<div>
      {% endif %}
    {% endif %}
            
    {% if'2' in item['catagory']%}
      <div>Type: Item</div>
      {% if '1' in item['itemtype']%}
      <div>ID: Water Bottles</div>
      {% endif %}
      {% if '2' in item['itemtype']%}
      <div>ID: Books</div>
      {% endif %}
        {% if '3' in item['itemtype']%}
        <div>ID: Stationary</div>
        {% endif %}
        {% if '4' in item['itemtype']%}
        <div>ID: Electronics</div>
        {% endif %}
        {% if '5' in item['itemtype']%}
        <div>ID: Lunchboxes</div>
        {% endif %}
          
    {% endif %}
            
    {% if item['location_lastfound']|length > 0 %}
      <div>Where the item was found: {{item['location_lastfound']}}</div>
    
    
    <div>Name on item: {{item['nameOnItem']}}</div>
    
    <div>Description: {{item['itemdescription']}}</div>

      <form action="https://lost-n-found-website-1.fongngai.repl.co/item/{{item['id']}}">
            <button class="btn btn-danger btn-lg">Reserve Item</button>
      </form>
    {% endif %}
    <br>
  {% endif %}
  
    
    
  
</div>
  