<!DOCTYPE html>
<html>
  <head>
    <title>
      New Item Submitted
    </title>
  </head>
  <body>
    <h3>Information:</h3>
    <h4>Item Name:</h4>
    <div>{{newitemdata['itemname']}}</div>
    <h4>Item Catagory:</h4>
    <div>{{newitemdata['catagory']}}</div>
    <h4>Item Type:</h4>
    <div>{{newitemdata['type']}}</div>
    <h4>Location Last Found:</h4>
    <div>{{newitemdata['location_lastfound']}}</div>
    <h4>Name on the item:</h4>
    <div>{{newitemdata['nameOnitem']}}</div>
    <h4>Item description:</h4>
    <div>{{newitemdata['itemdescription']}}</div>
    <br>
    <form action="https://lost-n-found-website-1.fongngai.repl.co">
    <button class="btn btn-danger btn-lg">To Home</button>
    </form>
  </body>
</html>